@media (max-width : 768px) {
    #navbar-cont {
        align-items: end;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .navbar-toggler {
        padding: 0em 0.75em;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 0.0625rem solid transparent;
        border-radius: 0.25rem;
    }
}

#navbar-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #172b4d;
    height : 48px;
    margin-bottom: 24px;
    transition: top 0.2s ease-in-out;
    z-index: 1;
 }

.headroom-not-bottom { top: -48px; }

.navbar-theme-title {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.0em;
    color: #fff;
    font-family: arial;
    letter-spacing: 0.05em;
}

.navbar-theme-menu {
    font-weight: normal;
    font-size: 1.0em;
    line-height: 1.0em;
    color: #fff;
    font-family: arial;
    letter-spacing: 0.05em;
}
