#board_interaction {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 12px;
    color: darkgray;
}
#post_like {
    height:12px;
}
#promote_like {
    margin-top: 6px;
    align-items: center;
}
#promote_like .row {
    justify-content: center;
    margin-left: 0px;
}
.post_like_content {
    font-size: 15px;
    font-color:#000000;
}
.board-body {
    padding: 5px;
}

span.ft-text-md {
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    vertical-align: baseline;
    color: #525f7f;
}
#user_name {
    font-weight: bold;
    color:#000000;
}
span.ft-text-sm {
    height: 100%;
    font-size: 12px;
    font-weight: normal;
    vertical-align: baseline;
    color: #525f7f;
}
.description {
    margin-top: 12px;
}
.mb-12 {
    margin-bottom: 12px;
}