body {
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}

.content-name {
    margin : 5px;
    padding : 5px;
}

#content_hello {
    margin  : 10px;
    padding : 10px;
    border-radius: 30px;
    border : 2px dashed #dcdcdc;
}

.wrapper {
    font-size: 20px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
    display:block;
    margin : 20px;
    padding : 10px;
}

.wrapper p {
    font-size: 20px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
}

.wrapper_child {
    font-size: 20px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
    display:block;
}

.parent1 {
    display: inline;
}
.parent1 p {
    font-size: 10px;
}
.child1 {
    height: 100px;
    line-height: 100px;
    display:inline-block;
    text-align:center;
}
.parent2 {
    vertical-align: middle;
    line-height: 400px;
    height: 400px;
}
.child2-1 {
    display:block;
    line-height: 100px;
    height:100px;
}

.child2-2 {
    display:block;
    line-height: 100px;
    height:100px;
}

.child2 p {
    vertical-align: middle;
    text-align:center;
}
