.replyName {
    font-size: small;
    color: black;
    font-weight: bold;
}
.replyContent {
    font-weight: normal;
    font-size: small;
    margin-left: 12px;
}

.reply-btn {
    margin-left: 40px;
    font-size: small;
    color: gray;
}