body {
    min-height: 100%;
}
html {
    min-height: 100%;
}
#main-container {
    margin-top : 68px;
    min-height: 780px;
    position: relative;
    padding-bottom: 81px; 
}
@media (max-width : 769px) {
    #sidebar-col {
        display : none;
    }
}
.box {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}